<footer class="bg-dark text-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p>En Mario Muebles nos especializamos en crear espacios que reflejen tu estilo único. Desde elegantes salas de estar hasta funcionales cocinas y dormitorios acogedores, cada pieza está diseñada con precisión artesanal y materiales de calidad para garantizar durabilidad y confort. Explora nuestra amplia gama de muebles y accesorios, pensados para transformar tu hogar en un lugar donde cada detalle cuenta. Déjanos ayudarte a crear ambientes que inspiran y se adaptan a tu vida.</p>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li>Email: mueblesMario23@gmail.com</li>
                    <li>Teléfono: +222 222 222</li>
                    <li>Dirección: juan xxiii, cipolletti, rio negro, Argentina</li>
                </ul>
                <div>
                    <a href="https://www.facebook.com" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com" class="text-light"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Ubicación y Horarios</h5>
                <p>juan xxiii 2000, cipolletti, rio negro, Argentina</p>
                <p><strong>Horarios de Atención:</strong></p>
                <ul class="list-unstyled">
                    <li>Lunes a Viernes: 8:00 AM - 10:00 PM</li>
                   
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            &copy; 2024 Empresa. Todos los derechos reservados.
        </div>
    </div>
</footer>
