<mat-toolbar>

  <span>MARIO MUEBLES</span>

  <button mat-button routerLink="/inicio">Inicio</button>

  <button mat-button [matMenuTriggerFor]="producto">Productos</button>
  <mat-menu #producto="matMenu">
    <button mat-menu-item routerLink="Apartado1">mesas</button>
    <button mat-menu-item routerLink="Apartado2">sillas</button>
    <button mat-menu-item routerLink="Apartado3">armarios</button>
  </mat-menu>


  <span class="example-spacer"></span>


  <!--inicio de sesion y formulario de registro-->
  <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item routerLink="/registro">Registro</button>
    <button mat-menu-item routerLink="/iniciosesion">Iniciar sesion</button>

  </mat-menu>


  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

</mat-toolbar>